@media screen and (min-width: 300px){
    body{
        background-color: red;
    }

}
@media screen and (min-width: 768px){
    body{
        background-color: green;
    }
    .col {
        width: 100%;
    }

}
@media screen and (min-width: 992px){
    body{
        background-color: whitesmoke;
    }
    .col{
        width: 50%;
    }

}
